
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//My custom CSS
@import "custom";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

nav.navbar-dark {
  position: fixed;
  width: 100%;
  z-index: 1;
}
#app {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 500px;
  transform: translateX(-50%);
}